@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary: #f50101;
  --default-layout-width: 1150px;
  --default-layout-header-height: 60px;
  --default-sidebar-width: 356px;

}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  list-style: 1.5;
  text-rendering: optimizeSpeed;
}
